.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App > div {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Header {
  background-color: #dddee1;
  padding: 1.1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #2e3440;
  border-bottom: 1px solid black;
}

.customSplitter {
  position: relative;
  border: 0 !important;
  background-color: black !important;
  height: 1px !important;
}

.dragHandle {
  position: absolute;
  border: 1px black;
  height: 14px;
  width: 30px;
  background-color: black;
  border-radius: 5px;
  right: calc(50vw - 15px);
  bottom: -7px;
  display: flex;
}

.dragHandle::after {
  color: gray;
  line-height: 14px;
  text-align: center;
  width: 100%;
  content: '=';
  transform: scaleX(2.0)
}

.IDE {
  resize: vertical;
  height: auto;
  background-color: #2e3440;
}

.Footer {
  background-color: #dddee1;
  padding: .8rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #2e3440;
}

/**
/ Extracted from Bootstrap 3.0
*/
.btn {
  display: inline-block;
  padding: 9px 12px;
  padding-top: 7px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #5e5e5e;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #d1dade;
  background-image: none !important;
  border-radius: 3px;
  border: none;
  text-shadow: none;
  box-shadow: none;
  transition: all 0.12s linear 0s !important;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #fff;
  background-color: #017eff;
  border-color: #017eff;
}